name <input [(ngModel)]="name"><br>
email <input [(ngModel)]="email"><br>
<input type="hidden" [(ngModel)]="id"><br>

{{name}}

<!-- {{ data | json}} -->
<button (click)="addContact(name,email)" *ngIf="btnAdd" mat-raised-button color="primary" >add </button>
<button (click)="updateContact(name,email,id)"  *ngIf="btnUpdate"  mat-raised-button color="accent" >update </button>
<button (click)="Annuler()"  *ngIf="btnAnnuler"  mat-raised-button color="warn" >x </button>


<div *ngFor="let value of data">
         <div>
          <li>{{value.id}}   ||   {{value.name}}   ||   {{value.email}}

            <button mat-raised-button color="warn"  (click)="showName(value.id)">delete</button>
            <button mat-raised-button color="indigo"  (click)="edit(value.id)">edit</button>
          </li>

        </div><br>
</div>
