<h1> Directive And Pipes </h1>



<h3> ngIf </h3>

<div *ngIf="success_msg; else error_msg "> 

  user successfully
</div>

<ng-template #error_msg>

  user was not added

</ng-template>


<h3> ngFor </h3> 

<ul>
  <li *ngFor="let contact of contacts; index as i">

    <div> 

   {{i}}   {{contact.FirstName}}      {{contact.LastName}}

  </div>
  </li>
</ul>


<h3> ngSwitch </h3>

<div [ngSwitch]="sopranos">

  <div *ngSwitchCase="'Tony Soprano'"> Like to be number one</div>
  <div *ngSwitchCase="'Paulie'">Hasidem but I don't believe 'Em</div>
  <div *ngSwitchCase="'Silvio'">Just when I thought I was out, they pull me back in </div>
  <div *ngSwitchCase="'Christopher'">I'am lost Tony </div>
  <div *ngSwitchDefault> The Sopranos  </div>

</div>



<h3> ngStyle </h3>

<div [ngStyle]="{'background-color':'green','color': '#fff'}"> this is green div   </div>

<div [ngStyle]="{'background-color':stylepro}"> this is purbel div   </div>




<router-outlet></router-outlet>
