.C1 {
    background-color: red;
    color : #fff
}

.C3 {
    background-color: blueviolet;
    color: beige;
}

.C4 {
   
    background-color: rebeccapurple;
    
    color: black;
}

.C5 {
    background-color: aquamarine; 
    color:brown; 
}