<h1> Directive And Pipes </h1>



<h2> Directive </h2>


<!-- ngIf -->

<h3> ngIf </h3>

<div *ngIf="success_msg; else error_msg "> 

  user successfully
</div>

<ng-template #error_msg>

  user was not added

</ng-template>

<!-- ngFor -->

<h3> ngFor </h3> 

<ul>
  <li *ngFor="let contact of contacts; index as i">

    <div> 

   {{i}}   {{contact.FirstName}}      {{contact.LastName}}

  </div>
  </li>
</ul>

<!-- ngSwitch -->

<h3> ngSwitch </h3>

<div [ngSwitch]="sopranos">

  <div *ngSwitchCase="'Tony Soprano'"> Like to be number one</div>
  <div *ngSwitchCase="'Paulie'">Hasidem but I don't believe 'Em</div>
  <div *ngSwitchCase="'Silvio'">Just when I thought I was out, they pull me back in </div>
  <div *ngSwitchCase="'Christopher'">I'am lost Tony </div>
  <div *ngSwitchDefault> The Sopranos  </div>

</div>

<!-- ngStyle -->

<h3> ngStyle </h3>

<div [ngStyle]="{'background-color':'green','color': '#fff'}"> this is green div   </div>

<div [ngStyle]="{'background-color':stylepro}"> this is purbel div   </div>


<!-- ngClass -->

<h3> ngClass </h3>

<div [ngClass]="'C1'"> this is class   </div>

<div [ngClass]="styleClsProp"> this is class dynamic  </div>

<div [ngClass]="condClsProp === 'C4'? 'C4' : 'C5'"> this is class dynamic  </div>

<div [ngClass]="{C4 : true, C5: false}"> this is class dynamic  </div>

<div [ngClass]="[getClsName()]" > this is get class  </div>



<h2> Pipes </h2>

<!-- Built-In Pipes -->

<div>{{ lowerCaseExample | lowercase}}</div>     
   <!--Output // angular tutorial -->

<div>{{ upperCaseExample | uppercase}}</div>     
   <!--Output // LEARNING ANGULAR FRAMEWORK -->

<div>{{ dateExample | date}}</div>
   <!--Output // Jul 12, 2023 -->

<div>{{ jsonExample | json}}</div>
   <!--Output // { "username": "Tony Soprano", "job": " Boos the Mafia", "experience": 20 } -->

<div>{{ currencyExample | currency}}</div>
   <!--Output // $250.00 -->

<div>{{ percentExample | percent}}</div>
   <!--Output // 55% -->

<div>{{ decimalExample | number}}</div>
   <!--Output // 2,016 -->



<h2> Parametrized Pipes </h2>

<!--  Parametrized Pipes -->


<div>{{ currencyExample | currency : 'MAD'}}</div>
   <!--Output // MAD250.00 -->

<div>{{ dateExample | date : 'short'}}</div>
   <!--Output // 7/12/23, 3:33 PM -->

<h2> Chaining Pipes </h2>

<!--  Chaining Pipes -->

<div>{{ dateExample | date  | uppercase }}</div>
   <!--Output // JUL 12, 2023 -->

<div>{{ currencyExample | currency : 'MAD' | lowercase }}</div>
   <!--Output // mad250.00 -->





<router-outlet></router-outlet>
