<button [routerLink]="['form']" routerLinkActive="router-link-active"  >Ajouter</button>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th> FirstName </th>
      <th>Email</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tbody>

    <tr *ngFor=" let contact of contacts">
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-3">
            <p class="fw-bold mb-1"></p>
            <p class="text-muted mb-0">{{contact.FirstName}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{contact.Email}}</p>
      </td>


      <td>
        <button type="button" (click)="EditContact(contact.id)" class="btn btn-warning btn-sm fw-bold " data-mdb-ripple-color="dark">
          Edit
        </button>
        <button (click)="DeleteContact(contact.id)" type="button" class="btn btn-danger btn-sm fw-bold ms-30" data-mdb-ripple-color="dark">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>